body {
   background-color:#F4D9E7;
}

hr {
   border-style:none;
   border-top: dotted 4px;
   width:30%;
   color:#0081B4;
}

h1 {
   text-align: center;
   color:#0081B4;
}

h2 {
   color:#0081B4;
}

#back-link img {
   width:30px;
   height:30px;
}

.img-small {
   width:70px;
   align:center;
}

td {
  text-align:center;
  border:none;
}

table {
   border:none;
   text-align:center;
}
