/* BACKGROUND */
body {
  height: auto;
  font-family: Inter, Arial, Helvetica, sans-serif;
  overflow-x: auto;
}

.recent-arrow {
  height: 28rem;
  margin-top: auto;
}

.recent-arrow i {
  color: black;
  border: solid 1px dimgrey;
  padding: 12px;
  border-radius: 80%;
  margin-top: 85px;
  transition: transform 0.2s ease-in;
}

.recent-arrow i:hover {
  color: #36b37e;
  transform: translateY(10px);
  border: solid 1px #36b37e;
}

.main-container {
  margin: 0;
}

.top-link:hover {
  border-bottom: 3px solid #36b37e;
  color: #36b37e;
}

.social-links {
  height: 3rem;
}

.social-links i,
.bottom-line i {
  color:dimgray;
  font-size: 1.5rem;
  transition: transform 0.1s ease-in;
}

.social-links i:hover,
.bottom-line i:hover {
  color: #36b37e;
  transform: scale(1.2);
}

textarea {
  border: 1px solid #60c095;
}

.flex-container {
  display: flex;
}

/* First Heading */
.intro {
  color: #172b4d;
  transition: transform 0.5s ease-in;
}

/* Second Heading */
.profession {
  color: #36b37e;
}

#element4 {
  transition: transform 0.2s ease;
  padding-top: 1rem;
}

#element4:hover {
  transform: scale(1.2);
}

.skills-item {
  transition: transform 0.2s ease;
}

.skills-item:hover {
  transform: scale(1.2);
}

.skill-language {
  background-color: rebeccapurple;
}

.nav-bar {
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 100;
}

.nav-bar ul {
  list-style-type: none;
  display: flex;
}

.down-arrow {
  flex-direction: column;
  text-align: center;
  margin-top: 100px;
  padding: 20px;
}

.recent-work {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

/* SECOND SECTION */

.grid-container {
  display: grid;
  width: inherit;
}

.grid-item {
  font-size: 30px;
  text-align: center;
}

.see-project-btn {
  padding: 13px 14px;
  width: 122px;
  height: 48px;
  background: #36b37f;
  border-radius: 4px;
}

.see-project-btn:hover {
  background: #36b37f;
  box-shadow: 0 8px 16px rgba(54, 179, 127, 0.24);
  border-radius: 4px;
  cursor: pointer;
}

.see-project-btn:active {
  background-color: #008552;
}

.see-resume-btn {
  background-color: #36b37f;
  border: none;
  color: white;
  padding: 9px 10px;
  text-align: center;
  text-decoration: none;
  display: flex;
  font-size: 19px;
  border-radius: 8px;
  width: 150px;
  height: 37px;
  font-weight: 500;
  line-height: 24px;
  align-items: center;
  justify-content: center;
}

.see-resume-btn:hover {
  background: #36b37f;
  box-shadow: 0 8px 16px rgba(54, 179, 127, 0.24);
  border-radius: 4px;
  cursor: pointer;
}

.see-resume-btn:active {
  background-color: #008552;
}

.footer {
  text-align: center;
}

.recent-work img {
  height: 50%;
  width: 100%;
}

.work-sample {
  height: 520px;
  border: 1px solid #d0d9d4;
  border-radius: 8px;
  text-align: center;
}

.work-sample h4 {
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.work-sample ul {
  display: flex;
  flex-wrap: wrap;
}

.work-sample li {
  font-weight: 600;
  font-size: 15px;
  line-height: 16px;
  letter-spacing: 0.03em;
  background: #ebf0ee;
  border-left: 12px solid #ebf0ee;
  border-right: 12px solid #ebf0ee;
  border-radius: 4px;
  padding: 6px 12px;
  width: auto;
  height: 25px;
  margin-bottom: 50px;
}

.headline {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.headline ul {
  display: flex;
  flex-wrap: nowrap;
  width: auto;
  justify-content: center;
}

.headline li {
  list-style: none;
  display: inline-flex;
  margin-right: 20px;
}

.recent-work ul {
  padding-left: 0;
  display: flex;
  flex-wrap: nowrap;
  width: 90%;
  justify-content: space-evenly;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 30px;
}

.recent-work li {
  list-style: none;
  display: flex;
  padding-top: 8px;
}

.work-sample a {
  text-decoration: none;
  color: white;
  font-size: 1.3rem;
  padding: 5px 10px 5px 10px;
}

.about-me-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  width: 327px;
  height: 352px;
  background-color: #ebf0ee;
  border: 1px solid #c1c7d0;
  border-radius: 8px;
  transition: transform 0.2s;
}

.about-me-item:hover {
  transform: scale(1.1);
}

.detailed-me p {
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: #344563;
}

.about-me-item img {
  margin-top: -30px;
  position: relative;
}

.about-me-item ul {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-auto-rows: auto;
  justify-items: center;
  font-weight: 600;
  font-size: 15px;
  line-height: 16px;
  letter-spacing: 0.03em;
  border-left: 12px solid #ebf0ee;
  border-right: 12px solid #ebf0ee;
  border-radius: 4px;
  width: auto;
  height: 25px;
  list-style-type: none;
  align-items: center;
  padding: 0;
  margin-top: -35px;
  gap: 10px;
}

.about-me-item li {
  display: inline-flex;
  flex-direction: row;
  font-weight: 600;
  background: #fff;
  width: auto;
  height: 25px;
  padding: 9px 12px 5px 12px;
  position: relative;
  color: #36b37e;
  border-radius: 8px;
}

.about-me h1 {
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #172b4d;
  margin-top: 80px;
  margin-bottom: 25px;
}

.top-about {
  display: flex;
  text-align: center;
  align-items: center;
  flex-direction: column;
}

.bottom-line ul {
  display: flex;
  flex-wrap: nowrap;
  width: auto;
  justify-content: center;
}

.bottom-line li {
  list-style: none;
  display: inline-flex;
  margin-right: 20px;
}

input:focus {
  border: 3px solid #60c095;
}

textarea:focus {
  border: 3px solid #60c095;
}

.desktop-form-btn:hover {
  background: #36b37f;
  box-shadow: 0 8px 16px rgba(54, 179, 127, 0.24);
  border-radius: 4px;
  cursor: pointer;
}

.sticky-social-links {
  position: fixed;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  background-color: rgba(35, 79, 119, 1);
  padding: 0 0 0 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-right: 1px solid white;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  z-index: 1000;
  display: none;
  margin-top: 0;
  height: 200px;
}

.social-linking {
  list-style: none;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  margin-top: -150px;
  height: 200px;
}

.social-linking i:hover{
  color: #36b37e;
}

.social-linking li {
  margin-bottom: 10px;
}

.social-linking a i {
  font-size: 24px;
  color: white;
}

@media only screen and (min-width: 250px) and (max-width: 349px) {
  .nav-bar {
    position: sticky;
  }

  #myModal img {
    margin-top: 2%;
    width: 99%;
    height: 220px;
    border: 1px solid #dfe1e6;
    border-radius: 8px;
  }

  .modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 6%;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(193, 199, 208, 0.97);
    padding-bottom: 30%;
    box-sizing: border-box;
  }

  .modal-flex {
    flex-wrap: wrap;
  }

  .mod-div-1 {
    order: 1;
    flex-grow: 8;
    width: 100%;
    text-align: center;
    height: auto;
    font-size: 30px;
    padding-top: 2%;
  }

  .mod-div-1 h4 {
    padding-right: 2%;
    text-align: left;
    margin-top: 0;
    margin-bottom: 3%;
    padding-left: 2%;
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 44px;
  }

  .mod-div-1 ul {
    display: flex;
    flex-wrap: wrap;
    margin-left: 0;
    width: 100%;
    margin-top: 3%;
    padding-top: 0;
    justify-content: flex-start;
    height: 25px;
  }

  .mod-div-1 li {
    font-weight: 600;
    font-size: 12px;
    background: #ebf0ee;
    border-left: 12px solid #ebf0ee;
    border-right: 12px solid #ebf0ee;
    border-radius: 4px;
    padding: 8px 12px 8px 12px;
    margin-left: 2%;
    height: 25px;
  }

  .mod-div-2 {
    order: 3;
    flex-grow: 10;
    width: 100%;
    line-height: 55px;
    font-size: 30px;
  }

  .mod-div-3 {
    order: 2;
    flex-grow: 10;
    width: 100%;
    margin: 0 3px 3px 3px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
  }

  .mod-div-3 .details {
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
    margin-top: 3%;
  }

  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    width: 90%;
    height: auto;
    border: 1px solid #ebecf0;
    border-radius: 8px;
    overflow: auto;
  }

  /* The Close Button */
  .close {
    position: absolute;
    overflow: unset;
    color: #aaa;
    float: right;
    right: 13%;
    font-size: 28px;
    font-weight: bold;
    margin-top: 1%;
  }

  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

  .see-modal {
    padding: 16px 12px;
    width: auto;
    background: #36b37f;
    border-radius: 4px;
    color: white;
    text-decoration: none;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
  }

  .see-modal svg {
    width: 18px;
    height: 20px;
    margin-left: 5px;
    margin-top: 25px;
  }

  .see-modal:hover {
    background: #36b37f;
    box-shadow: 0 8px 16px rgba(54, 179, 127, 0.24);
    border-radius: 4px;
    cursor: pointer;
  }

  .see-modal:active {
    background-color: #008552;
  }

  .rot {
    transform: rotate(230deg);
    color: white;
    vertical-align: middle;
    padding: 10px;
  }

  #mobile-validation span {
    margin: 2% auto auto 50%;
    color: red;
    font-size: 2.5rem;
  }

  #mobile-validation h3 {
    margin-left: 20%;
    width: 65%;
  }

  #mob-touch-btn {
    align-self: center;
  }
}

@media only screen and (min-width: 350px) and (max-width: 576px) {
  #mobile-validation span {
    margin: 2% auto auto 50%;
    color: red;
    font-size: 2.5rem;
  }

  #mobile-validation h3 {
    margin-left: 20%;
    width: 95%;
  }

  #mob-touch-btn {
    align-self: center;
  }
}

@media only screen and (min-width: 577px) and (max-width: 766px) {
  #mob-touch-btn {
    align-self: center;
  }
}

/* --------------- m o b i l e ----------------------- */

@media only screen and (max-width: 767px) {
  header {
    margin-left: 5%;
    display: flex;
    justify-content: space-between;
    background-color: white;
    width: 100%;
    padding-top: 5%;
  }

  .logo h3 {
    font-weight: 600;
    font-size: 20px;
  }

  /* dropdown menu start */
  .container {
    display: inline-block;
    cursor: pointer;
    align-items: center;
  }

  .bar1,
  .bar2,
  .bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
  }

  .change .bar1 {
    transform: translate(0, 11px) rotate(-45deg);
    background-color: #67798e;
  }

  .change .bar2 {
    opacity: 0;
  }

  .change .bar3 {
    transform: translate(0, -11px) rotate(45deg);
    background-color: #67798e;
  }

  .accordion {
    color: #444;
    cursor: pointer;
    width: 20%;
    border: none;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
  }

  #panel {
    padding: 0 18px;
    display: none;
    background-color: white;
    overflow: hidden;
    height: 450px;
  }

  #panel a {
    display: flex;
    text-decoration: none;
    padding: 10px 0;
    font-size: 1.5rem;
    font-weight: 700;
    color: #3a4a42;
    left: 5%;
    flex: 100%;
  }

  .drop-link {
    display: inline-block;
  }

  /* dropdown menu end */

  header li {
    margin-left: 25%;
  }

  .nav-bar li {
    display: none;
  }

  .nav-bar i {
    margin-left: 90%;
  }

  .nav-bar {
    padding-right: 10px;
    width: 80%;
  }

  .bars {
    margin-top: 10px;
  }

  h1,
  h2 {
    text-align: center;
  }

  .headline {
    align-items: center;
    background-image: url("./images/mobile-bg-top.png");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position-y: -50px;
    text-align: center;
  }

  .headline h1 {
    padding-top: 15%;
  }

  .headline h2 {
    margin-top: -5%;
  }

  .headline p {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: #172b4d;
    width: 85%;
    text-align: center;
    margin: auto 7.5%;
  }

  .intro,
  .profession {
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
  }

  .recent-heading {
    margin-top: 35px;
    padding-left: 6%;
    text-align: center;
    margin-bottom: 100px;
  }

  .recent-heading p {
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    width: 90%;
  }

  .recent-work {
    gap: 25px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .work-sample {
    flex: 100%;
  }

  #myModal img {
    margin-top: 2%;
    width: 99%;
    height: 220px;
    border: 1px solid #dfe1e6;
    border-radius: 8px;
  }

  .modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 6%;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(193, 199, 208, 0.97);
    padding-bottom: 30%;
    box-sizing: border-box;
  }

  .modal-flex {
    flex-wrap: wrap;
  }

  .mod-div-1 {
    order: 1;
    flex-grow: 8;
    width: 100%;
    text-align: center;
    height: auto;
    font-size: 30px;
    padding-top: 2%;
  }

  .mod-div-1 h4 {
    padding-right: 2%;
    text-align: left;
    margin-top: 0;
    margin-bottom: 3%;
    padding-left: 2%;
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 44px;
  }

  header ul {
    background-color: transparent;
  }

  .mod-div-1 ul {
    display: flex;
    flex-wrap: wrap;
    margin-left: 0;
    width: 100%;
    margin-top: 3%;
    padding-top: 0;
    justify-content: flex-start;
    height: 25px;
  }

  .mod-div-1 li {
    font-weight: 600;
    font-size: 12px;
    background: #ebf0ee;
    border-left: 12px solid #ebf0ee;
    border-right: 12px solid #ebf0ee;
    border-radius: 4px;
    padding: 8px 12px 8px 12px;
    margin-left: 2%;
    height: 25px;
  }

  .mod-div-2 {
    order: 3;
    flex-grow: 2;
    width: 100%;
    text-align: center;
    line-height: 55px;
    font-size: 30px;
  }

  .mod-div-3 {
    order: 2;
    flex-grow: 10;
    width: 100%;
    margin: 0 3px 3px 3px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
  }

  .mod-div-3 .details {
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
    margin-top: 3%;
  }

  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    width: 80%;
    height: auto;
    border: 1px solid #ebecf0;
    border-radius: 8px;
    overflow: auto;
  }

  /* The Close Button */
  .close {
    position: absolute;
    overflow: unset;
    color: #aaa;
    float: right;
    right: 13%;
    font-size: 28px;
    font-weight: bold;
    margin-top: 1%;
  }

  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

  .see-modal {
    padding: 16px 12px;
    width: auto;
    background: #36b37f;
    border-radius: 4px;
    color: white;
    text-decoration: none;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
  }

  .see-modal svg {
    width: 18px;
    height: 20px;
    margin-left: 5px;
    margin-top: 25px;
  }

  .see-modal:hover {
    background: #36b37f;
    box-shadow: 0 8px 16px rgba(54, 179, 127, 0.24);
    border-radius: 4px;
    cursor: pointer;
  }

  .see-modal:active {
    background-color: #008552;
  }

  .rot {
    transform: rotate(230deg);
    color: white;
    vertical-align: middle;
    padding: 10px;
  }

  .flex-container {
    display: flex;
  }

  .flex-item {
    flex: 100%;
  }

  .profession {
    font-size: 40px;
    font-weight: 700;
  }

  .about-me {
    background-image: url("./images/mobile-bg1.png");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position-y: 50px;
  }

  .top-about h1,
  .top-about p {
    position: relative;
    display: inline-flex;
  }

  .about-me p {
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    text-align: center;
    color: #42526e;
    width: 90%;
  }

  .detailed-me {
    display: grid;
    grid-template-columns: 1fr;
    gap: 25px;
    justify-items: center;
    margin-top: 70px;
  }

  .mobile-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px;
    gap: 25px;
  }

  .mobile-form input {
    height: 48px;
    width: 100%;
    border-radius: 4px;
    border-color: #d0d9d4;
    border-style: solid;
  }

  .mobile-form textarea {
    height: 114px;
    width: 100%;
    border-radius: 4px;
    border-color: #60c095;
    border-style: solid;
  }

  .desktop-form {
    display: none;
  }

  /* #mob-touch-btn {
    margin-left: 35%;
  } */

  .in-touch h2 {
    font-weight: 500;
    font-size: 30px;
    line-height: 52px;
    text-align: center;
    color: #172b4d;
    width: 80%;
    padding-left: 10%;
  }

  .message-submit-btn {
    background-color: #36b37f;
    border: none;
    color: white;
    padding: 12px 10px;
    text-align: center;
    text-decoration: none;
    display: flex;
    font-size: 19px;
    border-radius: 8px;
    width: 160px;
    height: 40px;
    font-weight: 500;
    line-height: 24px;
    align-items: center;
    justify-content: center;
  }

  #mobile-validation span {
    margin: 2% auto auto 50%;
    color: red;
    font-size: 2.5rem;
  }

  #mobile-validation h3 {
    margin-left: 20%;
    width: 65%;
  }
}

@media only screen and (min-width: 768px) and (max-width: 999px) {
  .sticky-social-links {
    display: flex;
  }

  .nav-bar {
    margin-top: 10px;
    position: sticky;
    top: 0;
    width: 100%;
    text-align: center;
    margin-top: 1rem;
  }

  .nav-bar #logo,
  .nav-bar i {
    display: none;
  }

  .nav-bar a {
    text-decoration: none;
    color: #172b4d;
    font-weight: 500;
  }

  .nav-bar li {
    width: 7rem;
  }

  .nav-bar ul {
    width: 50%;
    margin: auto;
  }

  #panel {
    display: none;
  }

  #myModal img {
    margin-top: 2%;
    width: 99%;
    height: 350px;
    border: 1px solid #dfe1e6;
    border-radius: 8px;
  }

  .modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 6%;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(193, 199, 208, 0.97);
    padding-bottom: 30%;
    box-sizing: border-box;
  }

  .modal-flex {
    flex-wrap: wrap;
  }

  .mod-div-1 {
    order: 1;
    flex-grow: 8;
    width: 100%;
    text-align: center;
    height: 100px;
    font-size: 30px;
    padding-top: 2%;
  }

  .mod-div-1 h4 {
    font-weight: 700;
    font-size: 32px;
    line-height: 44px;
    padding-right: 2%;
    text-align: left;
    margin-top: 0;
    margin-bottom: 3%;
    padding-left: 2%;
  }

  .mod-div-1 ul {
    display: flex;
    flex-wrap: wrap;
    height: 16%;
    margin-left: 0;
    width: 1000%;
    margin-top: 3%;
    padding-top: 0;
    justify-content: flex-start;
  }

  .mod-div-1 li {
    font-weight: 600;
    font-size: 15px;
    line-height: 16px;
    letter-spacing: 0.03em;
    background: #ebf0ee;
    border-left: 12px solid #ebf0ee;
    border-right: 12px solid #ebf0ee;
    border-radius: 4px;
    padding: 8px 12px 8px 12px;
    margin-left: 7px;
    height: 25px;
  }

  .mod-div-2 {
    order: 3;
    flex-grow: 2;
    width: 100%;
    margin: 1px 10px 10px 10px;
    text-align: center;
    line-height: 55px;
    font-size: 30px;
  }

  .mod-div-3 {
    order: 2;
    flex-grow: 10;
    width: 100%;
    margin: 3px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
  }

  .mod-div-3 .details {
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
    margin-top: 3%;
  }

  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    width: 60%;
    height: 783px;
    border: 1px solid #ebecf0;
    border-radius: 8px;
    overflow: auto;
  }

  /* The Close Button */
  .close {
    position: absolute;
    color: #aaa;
    float: right;
    right: 20%;
    font-size: 28px;
    font-weight: bold;
    width: 5%;
    text-align: center;
    margin-top: 1%;
    margin-right: 1%;
  }

  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

  .see-modal {
    padding: 16px 12px;
    width: auto;
    background: #36b37f;
    border-radius: 4px;
    color: white;
    text-decoration: none;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
  }

  .see-modal svg {
    width: 18px;
    height: 20px;
    margin-left: 5px;
    margin-top: 25px;
  }

  .see-modal:hover {
    background: #36b37f;
    box-shadow: 0 8px 16px rgba(54, 179, 127, 0.24);
    border-radius: 4px;
    cursor: pointer;
  }

  .see-modal:active {
    background-color: #008552;
  }

  .rot {
    transform: rotate(230deg);
    color: white;
    vertical-align: middle;
    padding: 10px;
  }

  .headline {
    background-image: url("./images/background.png");
    background-size: 150%;
    background-repeat: no-repeat;
    background-position-x: -5rem;
    background-position-y: 5rem;
    padding-top: 7.5rem;
  }

  .headline .intro {
    width: 920px;
    height: 40px;
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    line-height: 60px;
    text-align: center;
    letter-spacing: 0.37px;
    color: #172b4d;
    margin-left: -1rem;
  }

  .headline .profession {
    width: 920px;
    height: 60px;
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    line-height: 60px;
    text-align: center;
    letter-spacing: 0.37px;
    color: #36b37e;
    margin-top: 0;
    margin-bottom: 0;
  }

  .headline p {
    text-align: center;
    width: 75%;
    margin-left: 10%;
    font-size: 1rem;
    word-spacing: 0.5rem;
    line-height: 1.4rem;
    height: 75%;
    margin-top: 3rem;
  }

  .headline ul {
    margin-top: 1rem;
  }

  .mobile-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px;
    gap: 25px;
  }

  .recent-heading {
    margin-top: 5rem;
  }

  .recent-heading p {
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    align-items: center;
    text-align: center;
    color: #172b4d;
  }

  .about-me p {
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    text-align: center;
    color: #42526e;
    width: 60%;
  }

  .mobile-form input {
    height: 48px;
    width: 100%;
    border-radius: 4px;
    border-color: #d0d9d4;
    border-style: solid;
  }

  .mobile-form textarea {
    height: 114px;
    width: 100%;
    border-radius: 4px;
    border-color: #60c095;
    border-style: solid;
  }

  .desktop-form {
    display: none;
  }

  .in-touch h2 {
    font-weight: 500;
    font-size: 30px;
    line-height: 52px;
    text-align: center;
    color: #172b4d;
    width: 80%;
    padding-left: 10%;
  }

  .message-submit-btn {
    background-color: #36b37f;
    border: none;
    color: white;
    padding: 12px 10px;
    text-align: center;
    text-decoration: none;
    display: flex;
    font-size: 19px;
    border-radius: 8px;
    width: 160px;
    height: 40px;
    font-weight: 500;
    line-height: 24px;
    align-items: center;
    justify-content: center;
    margin-left: 43%;
  }

  .about-me {
    background-size: 70%;
    display: flex;
    flex-wrap: wrap;
  }

  .about-me-item {
    margin-top: 45px;
  }

  .touch-text,
  .mobile-form {
    flex: 100%;
  }

  .recent-work {
    margin-left: 30%;
  }

  .detailed-me {
    margin-left: 30%;
    display: grid;
    grid-template-columns: auto;
    gap: 15px;
  }

  .touch-text h2 {
    max-width: 70%;
    margin-left: 7rem;
  }

  .labels {
    display: none;
  }

  #mobile-validation span {
    margin: 2% auto auto 50%;
    color: red;
    font-size: 2.5rem;
  }

  #mobile-validation h3 {
    margin-left: 20%;
    width: 65%;
  }
}

/* --------------- l a p t o p ----------------------- */

@media only screen and (min-width: 1000px) {
  .sticky-social-links {
    display: flex;
  }

  .nav-bar #logo,
  .nav-bar i {
    display: none;
  }

  .nav-bar a {
    text-decoration: none;
    color: #172b4d;
    font-weight: 500;
  }

  .nav-bar ul {
    height: 40px;
    display: flex;
    gap: 20%;
    margin: auto 35%;
    flex-wrap: nowrap;
  }

  .nav-bar {
    padding-top: 20px;
    top: 0;
    width: 100%;
    position: sticky;
  }

  #panel {
    display: none;
  }

  .work-sample:hover {
    transform: scale(1.1);
    border-radius: 3px;
    background-color: white;
  }

  #myModal img {
    margin-top: 2%;
    width: 99%;
    height: 616px;
    border: 1px solid #dfe1e6;
    border-radius: 8px;
  }

  .modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 6%;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(193, 199, 208, 0.97);
    padding-bottom: 30%;
    box-sizing: border-box;
  }

  .modal-flex {
    flex-wrap: wrap;
  }

  .mod-div-1 {
    flex-grow: 8;
    width: 50%;
    text-align: center;
    height: 150px;
    font-size: 30px;
  }

  .mod-div-1 h4 {
    font-weight: 700;
    font-size: 32px;
    line-height: 44px;
    padding-right: 5%;
    text-align: left;
    margin-top: 3%;
    margin-bottom: 3%;
    padding-left: 2%;
  }

  .mod-div-1 ul {
    display: flex;
    flex-wrap: wrap;
    height: 16%;
    margin-left: 0;
    width: 100%;
    margin-top: 5%;
    padding-top: 0;
  }

  .mod-div-1 li {
    font-weight: 600;
    font-size: 15px;
    line-height: 16px;
    letter-spacing: 0.03em;
    background: #ebf0ee;
    border-left: 12px solid #ebf0ee;
    border-right: 12px solid #ebf0ee;
    border-radius: 4px;
    padding: 6px 12px;
    height: 25px;
  }

  .mod-div-2 {
    flex-grow: 2;
    width: 40%;
    margin: 1px 10px 10px 10px;
    text-align: right;
    line-height: 75px;
    font-size: 30px;
  }

  .mod-div-3 {
    flex-grow: 10;
    width: 100%;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
  }

  .mod-div-3 .details {
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
    margin-top: 3%;
  }

  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    width: 60%;
    height: 1083px;
    border: 1px solid #ebecf0;
    border-radius: 8px;
    overflow: auto;
  }

  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    background-color: #ebecf0;
    width: 5%;
    text-align: center;
    border: 1px solid #ebecf0;
    border-radius: 8px;
    margin-top: 1%;
    margin-right: 1%;
  }

  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

  .see-modal {
    padding: 16px 14px;
    width: auto;
    background: #36b37f;
    border-radius: 4px;
    color: white;
    text-decoration: none;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
  }

  .see-modal svg {
    width: 18px;
    height: 20px;
    margin-left: 10px;
    margin-top: 25px;
  }

  .see-modal:hover {
    background: #36b37f;
    box-shadow: 0 8px 16px rgba(54, 179, 127, 0.24);
    border-radius: 4px;
    cursor: pointer;
  }

  .see-modal:active {
    background-color: #008552;
  }

  .rot {
    transform: rotate(230deg);
    color: white;
    vertical-align: middle;
    padding: 10px;
  }

  .headline {
    background-image: url("./images/background.png");
    background-repeat: no-repeat;
    box-sizing: border-box;
    background-position-y: 30px;
    margin-top: -40px;
    display: grid;
    grid-template-columns: 70%;
    grid-template-rows: 100px 100px 100px;
    padding-top: 200px;
    justify-content: space-around;
  }

  .headline .intro {
    width: 920px;
    height: 60px;
    font-style: normal;
    font-weight: 800;
    font-size: 48px;
    line-height: 60px;
    text-align: center;
    letter-spacing: 0.37px;
    color: #172b4d;
  }

  .headline .profession {
    width: 920px;
    height: 60px;
    font-style: normal;
    font-weight: 800;
    font-size: 48px;
    line-height: 60px;
    text-align: center;
    letter-spacing: 0.37px;
    color: #36b37e;
    margin-top: 0;
    margin-bottom: 0;
    transition: height 2s;
  }

  .intro:hover {
    transform: scale(0.9);
  }

  .headline p {
    text-align: center;
    width: 85%;
    margin-left: 10%;
    margin-top: -7px;
    font-size: 1rem;
    word-spacing: 0.5rem;
    line-height: 1.4rem;
    height: 75%;
  }

  .headline ul {
    margin-top: 0.2rem;
  }

  .recent-heading p {
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    align-items: center;
    text-align: center;
    color: #172b4d;
  }

  .recent-work {
    margin: auto 4%;
    justify-content: space-around;
  }

  .work-sample {
    margin-left: 1%;
    margin-bottom: 2%;
    transition: transform 0.2s;
  }

  .about-me {
    margin-top: 100px;
    background-image: url("./images/bg2.png");
    background-size: 100%;
    background-repeat: no-repeat;
  }

  .about-me-item {
    margin-bottom: 1.5rem;
  }

  .top-about p {
    display: flex;
    width: 60%;
    font-size: 1.2rem;
  }

  .top-about a {
    margin-top: 15px;
  }

  .detailed-me {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 50px 11% 150px 11%;
  }

  .mobile-form {
    display: none;
  }

  .touch-div {
    background-image: url("./images/bg3.png");
    background-position-y: 150px;
    background-size: 100%;
    background-repeat: no-repeat;
    padding-bottom: 250px;
  }

  .in-touch {
    display: grid;
    grid-template-columns: 370px 60%;
    width: 1050px;
    margin: auto 11%;
    gap: 15px;
  }

  .touch-text h2 {
    line-height: 2.5rem;
  }

  .desktop-form form {
    display: grid;
    gap: 20px;
    grid-template-columns: 400px;
  }

  #first {
    width: 250px;
    height: 48px;
    border-radius: 4px;
    padding-left: 15px;
    border: 1px solid #d0d9d4;
  }

  #last {
    width: 250px;
    height: 48px;
    border-radius: 4px;
    padding-left: 15px;
    border: 1px solid #d0d9d4;
    margin-left: 0;
  }

  #full-name {
    width: 560px;
    height: 48px;
  }

  #email {
    width: 525px;
    height: 48px;
    border-radius: 4px;
    padding-left: 15px;
    border: 1px solid #d0d9d4;
  }

  #message {
    width: 525px;
    height: 114px;
    border-radius: 4px;
    padding-left: 15px;
    border: 1px solid #d0d9d4;
  }

  #touch-btn {
    background-color: #36b37f;
    border: none;
    color: white;
    padding: 17px 10px 6px 20px;
    text-align: center;
    text-decoration: none;
    display: flex;
    font-size: 19px;
    border-radius: 8px;
    width: 135px;
    height: 37px;
    font-weight: 500;
    line-height: 24px;
  }

  .footer {
    display: none;
  }

  .labels {
    display: none;
  }

  #desktop-validation span {
    margin: 2% auto auto 4%;
    color: red;
    font-size: 2.5rem;
  }

  #desktop-validation h3 {
    width: 60%;
  }
}

@media only screen and (min-width: 1150px) {
  #myModal img {
    margin-top: 2%;
    width: 99%;
    height: 416px;
    border: 1px solid #dfe1e6;
    border-radius: 8px;
  }

  .modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 6%;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(193, 199, 208, 0.97);
    padding-bottom: 30%;
    box-sizing: border-box;
  }

  .modal-flex {
    flex-wrap: wrap;
  }

  .mod-div-1 {
    flex-grow: 8;
    width: 50%;
    text-align: center;
    height: 150px;
    font-size: 30px;
  }

  .mod-div-1 h4 {
    font-weight: 700;
    font-size: 32px;
    line-height: 44px;
    padding-right: 2%;
    text-align: left;
    margin-top: 3%;
    margin-bottom: 3%;
    padding-left: 2%;
  }

  .mod-div-1 ul {
    display: flex;
    flex-wrap: wrap;
    height: 16%;
    margin-left: 0;
    width: 100%;
    margin-top: 5%;
    padding-top: 0;
  }

  .mod-div-1 li {
    font-weight: 600;
    font-size: 15px;
    line-height: 16px;
    letter-spacing: 0.03em;
    background: #ebf0ee;
    border-left: 12px solid #ebf0ee;
    border-right: 12px solid #ebf0ee;
    border-radius: 4px;
    padding: 6px 12px;
    height: 25px;
  }

  .mod-div-2 {
    flex-grow: 2;
    width: 40%;
    margin: 1px 10px 10px 10px;
    text-align: right;
    line-height: 75px;
    font-size: 30px;
  }

  .mod-div-3 {
    flex-grow: 10;
    width: 100%;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
  }

  .mod-div-3 .details {
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
    margin-top: 3%;
  }

  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    width: 60%;
    height: 850px;
    border: 1px solid #ebecf0;
    border-radius: 8px;
    overflow: auto;
  }

  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    background-color: #ebecf0;
    width: 5%;
    text-align: center;
    border: 1px solid #ebecf0;
    border-radius: 8px;
    margin-top: 1%;
    margin-right: 1%;
  }

  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

  .see-modal {
    padding: 16px 14px;
    width: auto;
    background: #36b37f;
    border-radius: 4px;
    color: white;
    text-decoration: none;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
  }

  .see-modal svg {
    width: 18px;
    height: 20px;
    margin-left: 10px;
    margin-top: 25px;
  }

  .see-modal:hover {
    background: #36b37f;
    box-shadow: 0 8px 16px rgba(54, 179, 127, 0.24);
    border-radius: 4px;
    cursor: pointer;
  }

  .see-modal:active {
    background-color: #008552;
  }

  .rot {
    transform: rotate(230deg);
    color: white;
    vertical-align: middle;
    padding: 10px;
  }

  #first {
    width: 298px;
    height: 48px;
    border-radius: 4px;
    padding-left: 15px;
    border: 1px solid #d0d9d4;
  }

  #last {
    width: 298px;
    height: 48px;
    border-radius: 4px;
    padding-left: 15px;
    border: 1px solid #d0d9d4;
    margin-left: 0;
  }

  #full-name {
    width: 640px;
    height: 48px;
  }

  #email {
    width: 620px;
    height: 48px;
    border-radius: 4px;
    padding-left: 15px;
    border: 1px solid #d0d9d4;
  }

  #message {
    width: 620px;
    height: 114px;
    border-radius: 4px;
    padding-left: 15px;
    border: 1px solid #d0d9d4;
  }

  .labels {
    display: none;
  }

  #desktop-validation h3 {
    width: 100%;
  }
}
