/* BACKGROUND */
body {
  height: auto;
  font-family: Inter, Arial, Helvetica, sans-serif;
  overflow-x: auto;
}

.main-container {
  margin: 0;
}

textarea {
  border: 1px solid #60c095;
}

.flex-container {
  display: flex;
}

h1 {
  font-weight: 800;
  font-size: 40px;
  margin: 0%;
}

p {
  text-align: center;
  width: 100%;
  margin-top: 2%;
  font-size: large;
}

/* First Heading */
.intro {
  color: #172b4d;
}

/* Second Heading */
.profession {
  color: #36b37e;
}

/* --------------- m o b i l e ----------------------- */

@media only screen and (max-width: 375px) {
  .main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    gap: 30px;
  }

  .headline {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("./images/mobile-bg-top.png");
    background-size: cover;
    background-position-y: 30px;
    background-repeat: no-repeat;
    top: 100px;
  }

  .headline ul {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    justify-content: center;
  }

  .headline li {
    list-style: none;
    display: inline-flex;
    margin-right: 15px;
  }

  .headline p {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: #172b4d;
    width: 85%;
  }

  .recent-heading {
    margin-top: 40%;
    text-align: center;
  }

  .headline i {
    border: solid 1px dimgrey;
    padding: 12px;
    border-radius: 80%;
    margin-top: 200px;
  }

  h1,
  h2 {
    text-align: center;
  }

  .nav-bar {
    margin-top: 0;
  }

  .flex-container {
    display: flex;
  }

  .flex-item {
    flex: 100%;
  }

  .profession {
    font-size: 40px;
    font-weight: 700px;
  }

  /* show logo */
  #logo {
    visibility: visible;
    font-size: 20px;
    font-weight: bold;
  }

  header {
    position: fixed;
    top: 0;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    z-index: 99;
    height: 40px;
    background-color: white;
    width: 100%;
  }

  .nav-bar a {
    /* visibility: hidden; */
    display: none;
  }

  .down-arrow i {
    font-size: 1rem;
    font-weight: bold;
  }

  .mobile-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px;
    gap: 25px;
  }

  .mobile-form input {
    height: 48px;
  }

  .mobile-form textarea {
    height: 114px;
  }
}

/* --------------- l a p t o p ----------------------- */

/* tab and laptop */
@media only screen and (max-width: 768px) {
  /* hide logo */
  #logo {
    visibility: hidden;
  }
}

.down-arrow {
  flex-direction: column;
  text-align: center;
  margin-top: 100px;
  padding: 20px;
}

/* SECOND SECTION */

.grid-container {
  display: grid;
  width: inherit;
}

.grid-item {
  font-size: 30px;
  text-align: center;
}

.see-project-btn {
  background-color: #36b37f;
  border: none;
  color: white;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  border-radius: 8px;
  width: 130px;
  height: 50px;
}

.see-project-btn:hover {
  background-color: darkcyan;
  cursor: pointer;
}

.see-resume-btn {
  background-color: #36b37f;
  border: none;
  color: white;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  border-radius: 8px;
  width: 160px;
  height: 50px;
}

.see-resume-btn:hover {
  background-color: darkcyan;
}

.footer {
  text-align: center;
}
